* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  box-sizing: border-box;
}
.row {
  padding: 20px;
  height: 30px;
  margin-bottom: 20px;
}
.rows {
  position: relative;
  height: 70px;
}
.row-1,
.row-2,
.row-3,
.row,
.col-1-section-1,
.col-1-section-2,
.section-2,
.col-3,
.col-3-p-1,
.col-3-p-2,
.col-3-p-3,
.col-3-div-1,
.col-3-div-2,
.col-3-div-3,
.row-4-col-4,
.row-4-col-4-1,
.row-4-col-4-2,
.row-4-col-4-3,
.row-4-col-4-4,
.row-5 {
  background-color: hsla(216, 2%, 45%, 0.338);
}
.row-2,
.row-3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.row-1 {
  margin: 30px auto;
  height: 50px;
  width: 650px;
}
.row-2 {
  top: 615px;
  margin: 15px auto;
  height: 50px;
  width: 790px;
  transform: translate(-50%, 0);
}
.row-3 {
  top: 1270px;
  height: 45px;
  width: 900px;
}
.col-1 {
  height: 550px;
  width: 100%;
  margin: 25px auto;
  margin-top: 10px;
}
.col-1-section-1,
.col-1-section-2 {
  float: left;
  width: 49%;
  height: 500px;
  padding-right: 5px;
}
.col-1-section-2 {
  float: right;
}
.col-2 {
  clear: both;
  height: 500px;
  margin: 100px auto;
}
.div-col-2 {
  width: 72%;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.section-2 {
  width: 250px;
  height: 230px;
  margin: 10px 10px;
  float: left;
}
.col-3 {
  clear: both;
  height: 750px;
  padding: 50px;
  margin: 20px auto;
  margin-top: 130px;
}
.div-col-3 {
  width: 90%;
  height: auto;
  margin: 25px auto;
}
.col-3-section {
  width: 335px;
  float: left;
  height: 583px;
  margin: 25px 25px;
  background-color: white;
  padding: 15px;
}
.col-3-p-1,
.col-3-p-2,
.col-3-p-3 {
  height: 42px;
  width: 285px;
  margin: 25px;
}
.col-3-div-1,
.col-3-div-2,
.col-3-div-3 {
  height: 220px;
  width: 285px;
  margin: 25px;
}
.row-4 {
  clear: both;
  width: 500px;
  height: 700px;
  margin: 25px auto;
  margin-bottom: 50px;
}
.row-4-col-4 {
  width: 300px;
  margin: 35px auto;
  height: 50px;
}
.row-4-col-4-1,.row-4-col-4-2{
  width:500px;
  height:65px;
  margin: 15px 0;
}
.row-4-col-4-2 {
  height: 270px;
}
.row-4-col-4-3 {
  margin-top: 15px;
  width: 240px;
  height: 50px;
  float: left;
}
.row-4-col-4-4 {
  margin-top: 15px;
  width: 240px;
  height: 50px;
  float: right;
}
.row-5 {
  height: 350px;
  clear: both;
  padding: 30px;
}
.col-4 {
  width: 700px;
  height: 350px;
  background-color: whitesmoke;
}
.col-4-1 {
  float: left;
  padding-right: 15px;
}
.col-4-2 {
  float: right;
  padding-left: 15px;
}
